/* variables */

$c_black: #0C1427;
$c_white: #fff;
$c_gray: #DEDFE2;
$c_green: #058373;
$c_green_01: rgba(#058373, .1);



$t_rad: 6px;

/* mixins */

@mixin fz($fz, $lh, $fw: normal) {
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
}